* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(143, 143, 143);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tipo-transacao,
.categoria,
.obs,
.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.valorInput::placeholder {
    color: black;
}

.input-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

select {
    width: 180px;
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

input,
select {
    border: 1px solid black;
    border-radius: 5px;
}
input{
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    background-color: rgb(233, 233, 233);
}
button {
    width: 60px;
    height: 25px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1.0);
}
hr{
    background-color: black;
    height: 1px;
    margin: 15px;
    border: none;
    width: 100%;
}